{% load bilingual %}
{% tr "Bonjour," "Hello," %}

{% tr "Une demande de reinitialisation de mot de passe a ete effectuee pour votre compte Invitation QR Studio." "A password reset request was made for your Invitation QR Studio account." %}

{% tr "Cliquez sur ce lien pour choisir un nouveau mot de passe :" "Click this link to choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% tr "Si vous n etes pas a l origine de cette demande, ignorez simplement ce message." "If you did not make this request, simply ignore this message." %}
